### .env for CHAINJS Algorand Examples
### Place in root of chains/algorand_1/examples directory

# get key for Algorand API from https://developer.purestake.io
AGLORAND_API_KEY = ',,,'

ALGOTESTNET_testaccount_PRIVATE_KEY = "..."
ALGOTESTNET_mulitsig_child_account1 = "..."
ALGOTESTNET_mulitsig_child_account1_PRIVATE_KEY = "..."
ALGOTESTNET_mulitsig_child_account2 = "..."
ALGOTESTNET_mulitsig_child_account2_PRIVATE_KEY = "..."
ALGOTESTNET_mulitsig_child_account3 = "..."
ALGOTESTNET_mulitsig_child_account3_PRIVATE_KEY = "..."

ALGOBETANET_testaccount_PRIVATE_KEY = "..."
ALGOBETANET_mulitsig_child_account1 = "..."
ALGOBETANET_mulitsig_child_account1_PRIVATE_KEY = "..."
ALGOBETANET_mulitsig_child_account2 = "..."
ALGOBETANET_mulitsig_child_account2_PRIVATE_KEY = "..."
ALGOBETANET_mulitsig_child_account3 = "..."
ALGOBETANET_mulitsig_child_account3_PRIVATE_KEY = "..."

ALGOMAINNET_testaccount_PRIVATE_KEY = "..."
ALGOMAINNET_mulitsig_child_account1 = "..."
ALGOMAINNET_mulitsig_child_account1_PRIVATE_KEY = "..."
ALGOMAINNET_mulitsig_child_account2 = "..."
ALGOMAINNET_mulitsig_child_account2_PRIVATE_KEY = "..."
ALGOMAINNET_mulitsig_child_account3 = "..."
ALGOMAINNET_mulitsig_child_account3_PRIVATE_KEY = "..."

ALGOBETANET_rekeyaccount_A = "..."
ALGOBETANET_rekeyaccount_PRIVATE_KEY_A = "..."
ALGOBETANET_rekeyaccount_B = "..."
ALGOBETANET_rekeyaccount_PRIVATE_KEY_B = "..."
